<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>原创首页</title>
  <link href="https://www.layuicdn.com/layui/css/layui.css" rel="stylesheet">
  <link rel="stylesheet" href="../statics/css/index.css">
  <style>
    .bigBox{
        /* width: 300px;height: 400px; */
        position: relative;
        background: #2d3436;
        color: #fff;
    }
    .bigBox::before,#box::after{
        content: '';
        background: linear-gradient(to top right,#b92b27,#2d3436,#1565c0);
        top: -2px;left: -2px;right: -2px;bottom: -2px;
        position: absolute;
        z-index: -1;
    }
    .bigBox::before{
        filter: blur(20px);
    }

  </style>
</head>
<body>
  <div class="bigBox">    
    <form class="layui-form" action="">
      <div class="userInfo boxBg1">
        <div class="layui-form-item">
          <label class="layui-form-label labelOne">用户：</label>
          <div class="layui-input-block userName"></div><!-- 获取登录的手机号作为用户名 -->
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label labelOne">地址：</label>
          <div class="layui-input-block adress">1234</div>
        </div>  
      </div>
      <div class="boxBg1">
        <div class="layui-form-item">
          <label class="layui-form-label">Chip类型:</label>
          <div class="layui-input-block">
            <select name="type" lay-verify="required" id="process" lay-filter="process" >
              <option value=""></option>
              <option value="1">chip_type1</option>
              <option value="2">chip_type2</option>
              <option value="3">chip_type3</option>
              <option value="4">chip_type4</option>
              <option value="5">chip_type5</option>
            </select>
            <input type="text" class="layui-input  selectTitle" value="" disabled readonly="true">
          </div>
          <!-- <div class="layui-input-block">
            <textarea name="desc" disabled readonly="true" class="layui-textarea"></textarea>
          </div> -->
        </div>
      </div>
      <div class="boxBg1">
        <div class="layui-form-item">
          <!-- 排除时，所有选项C隐藏 -->
          <label class="layui-form-label">是否排除偏远地区:</label>
          <div class="layui-input-block">
            <input type="checkbox" name="switch1" lay-skin="switch"  lay-filter="toggle1" >
          </div>
        </div>
        <div class="layui-form-item item item1">
          <label class="layui-form-label">process1:</label>
          <div class="layui-input-block">
            <select name="process1" id="process1" lay-filter="process1">
              <option value="" id="option1"></option>
              <option value="工厂A">工厂A</option>
              <option value="工厂B">工厂B</option>
              <option value="工厂C" class="optionC">工厂C</option>
              <option value="工厂D">工厂D</option>
            </select>
            <input type="text" class="layui-input selectText selectText1" value="" disabled readonly="true">
          </div>
        </div>
        <div class="layui-form-item item item2">
          <label class="layui-form-label">process2:</label>
          <div class="layui-input-block">
            <select name="process2" id="process2" lay-filter="process2" >
              <option value=""></option>
              <option value="工厂B">工厂B</option>
              <option value="工厂C" class="optionC">工厂C</option>
              <option value="工厂D">工厂D</option>
              <option value="工厂E">工厂E</option>
            </select>
            <input type="text" class="layui-input selectText selectText2" value="" disabled readonly="true">
          </div>
        </div>
        <div class="layui-form-item item item3">
          <label class="layui-form-label">process3:</label>
          <div class="layui-input-block">
            <select name="process3" id="process3" lay-filter="process3" >
              <option value=""></option>
              <option value="工厂C" class="optionC">工厂C</option>
              <option value="工厂D">工厂D</option>
              <option value="工厂E">工厂E</option>
            </select>
            <input type="text" class="layui-input selectText selectText3" value="" disabled readonly="true">
          </div>
        </div>
      </div>
      <div class="boxBg1">
        <div class="layui-form-item" >
          <!-- 选择最优机器搭配时，所有选项C隐藏 -->
          <label class="layui-form-label">自动选择最优机器搭配:</label>
          <div class="layui-input-block">
            <input type="checkbox" name="switch2" lay-skin="switch"  lay-filter="toggle2" >
          </div>
        </div>
        <!-- 上面程序选中的工厂，可能两个，也可能三个 -->
        <div class="layui-form-item factoryItem factoryItem1">
          <label class="layui-form-label"><span class="factoryOne"></span>&nbsp;&nbsp;处理工序1:</label>
          <div class="layui-input-block">
            <select name="factory1" id="factory1" lay-filter="factory1">
              <option value=""></option>
              <option value="甲">甲</option>
              <option value="乙">乙</option>
              <option value="丙">丙</option>
              <option value="丁">丁</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item factoryItem factoryItem2">
          <label class="layui-form-label"><span><span class="factoryTwo"></span></span>处理工序2:</label>
          <div class="layui-input-block">
            <select name="factory2"  id="factory2" lay-filter="factory2">
              <option value=""></option>
              <option value="甲">甲</option>
              <option value="乙">乙</option>
              <option value="丙">丙</option>
              <option value="丁">丁</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item factoryItem factoryItem3">
          <label class="layui-form-label"><span><span class="factoryThree"></span></span>处理工序3:</label>
          <div class="layui-input-block">
            <select name="factory3"  id="factory3" lay-filter="factory3">
              <option value=""></option>
              <option value="甲">甲</option>
              <option value="乙">乙</option>
              <option value="丙">丙</option>
              <option value="丁">丁</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item layui-form-text">
          <div class="layui-input-block pageContent1 pageContent11 layui-anim layui-anim-down" style="margin-left: 0;">
            <p><span class="p"></span></p>
            <p><span class="conmmon p1"></span><span class="jq j1"></span></p>
            <p><span class="conmmon p2"></span><span class="jq j2"></span></p>
            <p><span class="conmmon p3"></span><span class="jq j3"></span></p>
          </div>
          <div class="layui-input-block pageContent1 pageContent12 layui-anim layui-anim-down">
          </div>
        </div>  
      </div>
      

      <div class="layui-form-item" style="display: flex;margin: 0 auto;justify-content: center;">
        <div class="layui-input-block" style="margin: 0;">
          
          <button type="reset" class="cancel layui-btn layui-btn-primary">重置</button>
          <div class="sureBtn"><a href="./fannish.html">确认</a></div>
          <!-- <button class="layui-btn sureBtn" lay-submit lay-filter="submitButton">确认</button> -->
        </div>
      </div>
    </form>
  </div>
</body>
<script src="https://www.layuicdn.com/layui/layui.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  var chipType='';
  var toggle1=false
  var toggle2=false
  $('.userName').text(localStorage.getItem('admin'))
  layui.use('form', function(){
    var form = layui.form;
    
    //提交
    form.on('submit(formDemo)', function(data){
      layer.msg(JSON.stringify(data.field));
      return false;
    });
    //开关1
    form.on('switch(toggle1)', function(data){
      toggle1=data.elem.checked
      if(toggle1) {
        $('.optionC').removeClass('active1')
        $('.optionC').addClass('hide1')
        $("dd[lay-value*='工厂C']").css('display','none')
      }else {
        $('.optionC').removeClass('hide1')
        $('.optionC').addClass('active1')
        $("dd[lay-value*='工厂C']").css('display','block')
      }
    })
    //开关2
    form.on('switch(toggle2)', function(data){
      toggle2=data.elem.checked
      if(toggle2) {
        setTimeout(function(){ 
          $('.active2').addClass('hide2')
          $('.pageContent11').addClass('hide3')
          $('.pageContent12').css('display','block')
          $('.pageContent12').html('xxxxxxxxxx')

          $('.factoryItem .layui-unselect').val(" ")
        },1000);
        
      }else {
        setTimeout(function(){ 
          $('.pageContent11').removeClass('hide3')
          $('.pageContent12').css('display','none')
          $('.active2').removeClass('hide2')
          $('.jq').text('')
        },1000);
       
      }
    })
    //下拉框
    var form = layui.form;
    form.on('select(process)', function(){
      //1:拿到select对象： 
      var myselect=document.getElementById("process");
      //2：拿到选中项的索引：
      var index=myselect.selectedIndex ; // selectedIndex代表的是你所选中项的index
      //3:拿到选中项options的value：
      chipType=myselect.options[index].value
      //4:拿到选中项options的text： 
      console.log('selected0.2',myselect.options[index].text);
      setTimeout(function(){
        $('.p').text(`${myselect.options[index].text}`)
        $('.selectTitle').val(`${myselect.options[index].text}`)
      },500);      
      $('.conmmon').text(``)
      $('.jq').text(``)

      $('.item').css('display','none')
      $('.factoryItem').removeClass('active2')
      $('.factoryItem').addClass('hide2')

      $('.item .layui-unselect').val(" ")
      $(".selectText").val(" ")

      $('.factoryItem .layui-unselect').val(" ")

      if(chipType==1) {
        $('.item1').css('display','block')
        $('.item2').css('display','block')
      }else if(chipType==2) {
        $('.item2').css('display','block')
        $('.item3').css('display','block')
      }else if(chipType==3||chipType==4) {
        $('.item1').css('display','block')
        $('.item3').css('display','block')
      }else if(chipType==5) {
        $('.item').css('display','block')
      }
    });
    form.on('select(process1)', function(){
      var myselect1=document.getElementById("process1");
      var index=myselect1.selectedIndex ;
      setTimeout(function(){ 
        $('.p1').text(`process1: ${myselect1.options[index].text}`)
        $('.selectText1').val(`${myselect1.options[index].text}`)
        $('.factoryOne').text(`${myselect1.options[index].value}`)
      },500);
      
      if(!toggle2) {
        $('.factoryItem1').removeClass('hide2').addClass('active2')
      }
    });
    form.on('select(process2)', function(){
      var myselect2=document.getElementById("process2");
      var index=myselect2.selectedIndex ; 
      setTimeout(function(){ 
        $('.p2').text(`process2: ${myselect2.options[index].text}`)
        $('.selectText2').val(`${myselect2.options[index].text}`)
        $('.factoryTwo').text(`${myselect2.options[index].value}`)
      },500);
      
      if(!toggle2) {
        $('.factoryItem2').removeClass('hide2').addClass('active2')
      }
    });
    form.on('select(process3)', function(){
      var myselect3=document.getElementById("process3");
      var index=myselect3.selectedIndex ;
      setTimeout(function(){ 
        $('.p3').text(`process3: ${myselect3.options[index].text}`)
        $('.selectText3').val(`${myselect3.options[index].text}`)
        $('.factoryThree').text(`${myselect3.options[index].value}`)   
      },500);
      
      if(!toggle2) {
        $('.factoryItem3').removeClass('hide2').addClass('active2')
      }
      
    });
    form.on('select(factory1)', function(){
      var myselect1=document.getElementById("factory1");
      var index=myselect1.selectedIndex ;
      setTimeout(function(){ 
        $('.j1').html(`&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机器：${myselect1.options[index].text}`)
      },500);
    });
    form.on('select(factory2)', function(){
      var myselect2=document.getElementById("factory2");
      var index=myselect2.selectedIndex ;
      setTimeout(function(){ 
        $('.j2').html(`&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机器：${myselect2.options[index].text}`)
      },500);
    });
    form.on('select(factory3)', function(){
      var myselect3=document.getElementById("factory3");
      var index=myselect3.selectedIndex ;
      setTimeout(function(){ 
        $('.j3').html(`&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机器：${myselect3.options[index].text}`)
      },500);
     
    });
  });
</script>
</html>